<nav class="navbar">
  <a class="navbar-brand ms-3">
    <fa-icon [icon]="faListCheck" class="text-success me-1"></fa-icon>
    Vacation Requests
  </a>
  <form class="d-flex position-relative me-3" role="search">
      <input
        class="form-control rounded-4"
        type="search"
        placeholder="Search..."
        aria-label="Search"
        appSearch
        (search)="onSearch($event)"
      >
      <button class="btn border-light text-success fw-bolder position-absolute start-0 top-0 custom-search" type="submit">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </button>
  </form>
</nav>
<div class="line"></div>
<div class="row mt-5 mb-3">
  <div class="col" *ngFor="let vacation of filteredVacations">
    <app-vacCard [vacation]="vacation"></app-vacCard>
  </div>
</div>
<div class="d-flex justify-content-end">
  <a class="btn btn-link fw-bold text-success text-decoration-none" (click)="goToVacationPage()" role="button">View More ></a>
</div>
