<div class="d-flex align-items-center w-100">
  <fa-icon [icon]="faCircleUser" class="fs-1 py-3 me-3"></fa-icon>
  <div class="text-content me-auto">
      <h6 class="mb-0">Motasem Alsuradi</h6>
      <p class="mb-0 text-secondary custom-paragraph">Junior Accounting Officer</p>
  </div>
  <div class="ms-auto">
      <a (click)="goToProfilesPage()" role="button">
          <button type="button" class="btn border-success bg-white text-success px-5 custom-btn">View Profile</button>
      </a>
  </div>
</div>
<div class="row mt-3 w-100">
  <div class="d-flex align-items-center">
    <fa-icon [icon]="faUser" class="text-secondary fs-2 py-3 me-3"></fa-icon>
    <div class="text-content">
        <h6 class="mb-0">Reporting To:</h6>
        <p class="mb-0 text-secondary custom-paragraph">Salwa Assem</p>
    </div>
    <fa-icon [icon]="faChartSimple" class="text-secondary fs-2 py-3 ms-4 me-2"></fa-icon>
    <div class="text-content">
          <h6 class="mb-0">Corporate Level:</h6>
          <p class="mb-0 text-secondary custom-paragraph">Level 10</p>
      </div>
  </div>
</div>


