<div class="row mt-5 mx-auto">
  <div class="col shadow-sm rounded-4 bg-body-tertiary mb-3">
      <div class="d-flex align-items-center flex-wrap w-100">
        <fa-icon [icon]="faCircleUser" class="fs-1 py-2 me-3"></fa-icon>
        <div class="text-content me-auto">
            <h6 class="mt-4 mb-0">Motasem Alsuradi</h6>
            <p class="mb-0">Marketing Department</p>
            <p class="mb-0 text-secondary">Junior Accounting Officer</p>
        </div>
        <div class="ms-auto">
            <a class="btn btn-success px-5 mt-4 mt-md-0" href="#" role="button">New Request</a>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-between align-items-center mt-4 mb-2 w-100">
          <div class="d-flex align-items-center mb-3">
            <fa-icon [icon]="faUser" class="text-secondary fs-2 me-2"></fa-icon>
            <div>
                <h6 class="mb-0">Reporting To:</h6>
                <p class="mb-0 text-secondary">Salwa Assem</p>
            </div>
          </div>
          <div class="d-flex align-items-center mb-3">
            <fa-icon [icon]="faChartSimple" class="text-secondary fs-2 me-2"></fa-icon>
            <div>
                <h6 class="mb-0">Corporate Level:</h6>
                <p class="mb-0 text-secondary">Level 10</p>
            </div>
          </div>
          <div class="d-flex align-items-center mb-3">
            <fa-icon [icon]="faHourglassHalf" class="text-secondary fs-2 me-2"></fa-icon>
            <div>
                <h6 class="mb-0">Lifetime:</h6>
                <p class="mb-0 text-secondary">2.5 Years</p>
            </div>
          </div>
          <div class="d-flex align-items-center mb-3">
            <fa-icon [icon]="faPagelines" class="text-secondary fs-2 me-2"></fa-icon>
            <div>
                <h6 class="mb-0">Vacation Days Left:</h6>
                <p class="mb-0 text-secondary">10 Days</p>
            </div>
          </div>
          <div class="d-flex align-items-center mb-3">
            <fa-icon [icon]="faPrescriptionBottleMedical" class="text-secondary fs-2 me-2"></fa-icon>
            <div>
                <h6 class="mb-0">Sick Days Left:</h6>
                <p class="mb-0 text-secondary">14 Days</p>
            </div>
        </div>
    </div>
  </div>
</div>

