<header id="navbar-container" class="sticky-top">
  <nav class="navbar shadow navbar-expand-sm bg-main text-light">
    <div class="container">
      <div class="navbar__icons-wrapper d-flex gap-4 order-sm-2">
        <fa-icon [icon]="faBell" class="navbar__icon fs-4"  role="button"></fa-icon>
        <fa-icon [icon]="faUserCircle" class="navbar__icon fs-4" role="button"></fa-icon>
      </div>
      <button
        class="navbar-toggler d-sm-none border-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon d-flex align-items-center">
          <span
            class="navbar-toggler-icon__dash d-block position-relative"
          ></span>
        </span>
      </button>
      <div class="collapse navbar-collapse text-capitalize" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-sm-0 gap-3">
          <li class="nav-item">
            <a
              class="nav-link px-2 position-relative text-light"
              routerLink="/"
              aria-current="home"
              >home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-2 position-relative text-light"
              routerLink="/profiles"
              >profiles</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-2 position-relative text-light"
              >reports</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-2 position-relative text-light"
              >settings</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
