<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <h2 class="fs-4 fw-semibold mb-3 text-capitalize">lates news:</h2>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="assets/img/Slider-1.jpg" alt="">
            <div class="carousel-caption pb-0 px-5">
                <h5>Best Spots For A Summer Vacation</h5>
                <p class="fw-medium">Check out these spots where we provide you with a discount code! Type VACATION when inserting the promo code and behold the surprise!</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="assets/img/Slider-2.jpg" alt="">
            <div class="carousel-caption pb-0 px-5">
                <h5>Best Spots For A Summer Vacation</h5>
                <p class="fw-medium">Check out these spots where we provide you with a discount code! Type VACATION when inserting the promo code and behold the surprise!</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="assets/img/Slider-3.jpg" alt="">
            <div class="carousel-caption pb-0 px-5">
                <h5>Best Spots For A Summer Vacation</h5>
                <p class="fw-medium">Check out these spots where we provide you with a discount code! Type VACATION when inserting the promo code and behold the surprise!</p>
            </div>
        </div>
    </div>
    <div class="indicators-carousel mt-2">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
</div>
