<div class="card p-2 mb-2 mx-auto border-top-0 shadow" style="width: 18rem;">
  <img [src]="'assets/img/' + vacation.imgSrc" class="card-img-top mt-4" alt="">
  <div class="card-body">
    <h5 class="card-title">{{ vacation.name }}</h5>
    <p class="card-text mb-0">Submitted on:</p>
    <h6 class="submit-value">{{ vacation.submittedOn }}</h6>
    <p class="card-text mb-0">Duration:</p>
    <h6 class="duration-value">{{ vacation.duration }}</h6>
    <p class="card-text mt-5 mb-0">Currently at:</p>
    <h6 class="text-success mb-0">Omar Ahmad</h6>
  </div>
</div>

