<div class="card p-2 mb-2 mx-auto border-top-0 shadow" style="width: 18rem;">
  <img [src]="'assets/img/' + vacation.imgSrc" class="card-img-top mt-4" alt="">
  <div class="card-body">
    <h5 class="card-title">{{ vacation.name }}</h5>
    <p class="card-text mb-0">Submitted on:</p>
    <h6 class="submit-value">{{ vacation.submittedOn }}</h6>
    <p class="card-text mb-0">Duration:</p>
    <h6 class="duration-value">{{ vacation.duration }}</h6>
    <p class="card-text mb-0">Salary:</p>
    <h6 class="salary-value">{{ vacation.salary }}</h6>
    <a href="#" class="btn border-success text-success fw-medium mt-3 me-2">Decline</a>
    <a href="#" class="btn btn-success mt-3">Approve</a>
  </div>
</div>

