<section class="welcome-wrapper py-5">
  <div
    class="container d-flex flex-column flex-md-row text-center text-md-start align-items-center justify-content-between gap-4 gap-md-5"
  >
    <app-welcom-text></app-welcom-text>
    <app-new-request-button></app-new-request-button>
  </div>
</section>

<section class="profile-summary py-4">
  <div class="container"
  >
    <div class="row gy-4 text-capitalize justify-content-center align-items-stretch"
    >
      <div class="col-12 col-sm-12 col-xl-6 bg-body-tertiary shadow rounded-4">
        <app-shortcut-employee></app-shortcut-employee>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <app-vac-requests></app-vac-requests>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <app-leave-requests></app-leave-requests>
      </div>
    </div>
  </div>
</section>

<section class="imageSlider py-4">
  <div class="container"
  >
    <app-image-slider></app-image-slider>
  </div>
</section>

<section class="vacationRequests py-4">
  <div class="container bg-body-tertiary p-3 mt-5 mb-5 shadow rounded-4"
  >
    <app-vac-request-home></app-vac-request-home>
  </div>
</section>

